.normal-profile{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    -webkit-box-shadow: 6px 11px 18px 3px rgba(0,0,0,0.49); 
    box-shadow: 6px 11px 18px 3px rgba(0,0,0,0.49);
}

.container-page{
    padding-top: 1.5rem;
    text-align: center;
}

