.card-product{
    margin: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(202, 247, 211);
    font-size: 1.5rem;
    -webkit-box-shadow: 6px 11px 18px 3px rgba(0,0,0,0.49); 
    box-shadow: 6px 11px 18px 3px rgba(0,0,0,0.49);
}